MRIIC_REPO_ROOT=C:\Users\gaura\Documents\GitHub\Django-Inventory-Management-System-MRIIC-
MRIIC_DJANGO_PROJECT_DIR=C:\Users\gaura\Documents\GitHub\Django-Inventory-Management-System-MRIIC-\inventoryProject
MRIIC_PYTHON=C:\Users\gaura\Documents\GitHub\Django-Inventory-Management-System-MRIIC-\p1\Scripts\python.exe
BASE_URL=http://127.0.0.1:8000
